@import url('https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top:5px;
}

nav ul {
  position: fixed;
  background-color: #f2f2f2;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    padding: 10px;
    font-family: "Anton SC", sans-serif;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
 
  .titulo{
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
    border-radius: 20px;
    padding: 10px;
    color: black;
    font-size: 5rem;
    font-family: "Anton SC", sans-serif;
  }
  .sessao__sobre{
    font-family: "Host Grotesk", sans-serif;
    color: #f2f2f2;
  }
 
  .titulo__sobre{
    border-radius: 20px;
    padding: 10px;
    font-size: 3rem;
    font-family: "Anton SC", sans-serif;
  }

  .sobre__text{
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 300px;
    margin-left: 300px;
    padding: 50px;
   
  }

  .paralax{
    background-image: url(/img/WhatsApp\ Image\ 2024-11-15\ at\ 11.09.34.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .paralax2{
    background-image: url(/img/kettlebell-5679666_1280.jpg);
    display: flex;
    font-family: "Host Grotesk", sans-serif;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
   .titulo__porque{
    font-size: 28px;
    display: flex;
    flex-direction: column;
  }
  
  .pagina{
    background-color: #333;
    opacity: 0.8;
    width: 180px;
    height: 100x;
    margin: 5px;
    padding: 12px;
    border-radius: 20px;
    transition: width 0.5s;
    
  }
  .pagina:hover{
    width: 300px;
    height: 300x;
    background-color: #333;
  }

  .porque{
    display: flex;
  }

  .paralax3{
    background-color: #333;
    display: flex;
    font-family: "Host Grotesk", sans-serif;
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .titulo__contato{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 50px;
    font-size: 26px;
    color: #f2f2f2;
    font-family: "Anton SC", sans-serif;
  }
 
  img {
   margin: 10px;
    width: 20px;
    height: 20px;

  }

  .contato__contato{
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 16px;
    color: #f2f2f2;
     text-decoration: none;
  }
 .titulo__endereco{
  margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 50px;
  display: flex;
  font-size: 26px;
 }
 .sessao__contato{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
 }

 .sessao__endereco{
  font-size: 26px;
  color: #f2f2f2;
  font-family: "Anton SC", sans-serif;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-left: 50px;
  font-size: 16px;
 }

 .rodape{
  padding: 15px;
  color:#333;
  background-color:#f2f2f2;
  text-align: center;
  font-family: "Anton SC", sans-serif;
  font-size: 0.9rem;
  font-weight: 400px;
}

@media(max-width: 1200px){
  .titulo{
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
    border-radius: 20px;
    padding: 10px;
    color: black;
    font-size: 2rem;
    font-family: "Anton SC", sans-serif;
  }

  .sobre__text{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 30px;
    margin-left: 30px;
    padding: 20px;
   
  }
  .sobre__sub{
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
  }
 
  .porque{
    flex-wrap: wrap;
    justify-content: flex-start;
    display: flex;
    font-size: 14px;
  }
  .paralax2{
    height: 145%;
  }
  .pagina{

    width: 120px;
    height: 120x;
    margin: 5px;
    padding: 12px;
    border-radius: 20px;
    transition: width 0.5s;
    
  }
  .paralax3{
    display: flex;
    flex-direction: column;
    height: 97%;
  }
  .titulo__endereco{
   justify-content: center;
  }

  .titulo__contato{
    display: flex;
    justify-content: center;
  }
  
  .mapa{
    margin: 10px;
    width: 350px;
    height: 350px;

  }.sessao__contato{
    margin: 10px;
  }
}
 